{% extends 'base_simple.html' %}

{% block title %}Page Not Found{% endblock %}

{% block page_title %}404 - Page Not Found{% endblock %}

{% block content %}
  <h2>It's not here</h2>

  {% if message %}
    <p>{{ message }}</p>
  {% else %}
    <p>Sorry it didn't work out!</p>
  {% endif %}

{% endblock %}
