{% extends 'base_simple.html' %}

{% block title %}Server Error{% endblock %}

{% block page_title %}500 - Server Error{% endblock %}

{% block content %}
  <h2>You broke it!</h2>

  <p>Only kidding, it was us. We'll try to fix it ASAP.</p>

{% endblock %}
