
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - LearnScripture.net</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->

    <!-- Le styles -->

    <link href="/static/css/snapshot.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body class="calm">
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <div class="topbarinner">
            <a class="brand" href="/">Learn Scripture</a>
            <ul class="nav">
              <li><a href="/">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="maincontent">
        <div class="page-header">
          <h1>{% block page_title %}{% endblock %}</h1>
        </div>
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>

      <footer>
        <p>&copy; LearnScripture.net 2012-2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
