{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="span10" id="id-leftcolumn">
      {% block leftcolumn %}
      {% endblock %}
    </div>
    <div class="span4" id="id-rightcolumn">
      {% block rightcolumn %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
