{% extends 'base_simple.html' %}

{% block title %}CSRF detected{% endblock %}

{% block page_title %}CSRF detected{% endblock %}

{% block content %}

  <p>Your request could not be authenticated.</p>

  {% if no_csrf_cookie %}
    <p>The problem appears to be that <strong>you do not have cookies enabled in your
      browser</strong>, or have blocked a cookie necessary for us to to correctly recognise
      you. Please <strong>enable cookies</strong>, go back and try again.</p>

  {% endif %}

  <p>Please <a href="/contact/">contact us</a> if this error persists.</p>


{% endblock %}
