{% if is_paginated %}
  {% load i18n %}
  <div class="pagination">
    <ul>
      {% block previouslink %}
        {% if page_obj.has_previous %}
          <li class="prev"><a href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}">{{ previous_link_decorator|safe }}{% trans "Previous" %}</a></li>
        {% else %}
          <li class="prev disabled"><a>{{ previous_link_decorator|safe }}{% trans "Previous" %}</a></li>
        {% endif %}
      {% endblock previouslink %}
      {% block pagelinks %}
        {% for page in pages %}
          {% if page %}
            {% ifequal page page_obj.number %}
              <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
              <li><a href="?page{{ page_suffix }}={{ page }}{{ getvars }}">{{ page }}</a></li>
            {% endifequal %}
            {% else %}
            <li><span class="a">...</span></li>
          {% endif %}
        {% endfor %}
      {% endblock pagelinks %}
      {% block nextlink %}
        {% if page_obj.has_next %}
          <li class="next"><a href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}">{% trans "Next" %}{{ next_link_decorator|safe }}</a></li>
        {% else %}
          <li class="next disabled"><a>{% trans "Next" %}{{ next_link_decorator|safe }}</a></li>
        {% endif %}
      {% endblock nextlink %}
    </ul>
  </div>
{% endif %}
