{% extends "base_twocol.html" %}

{% load bootstrap %}
{% load url from future %}

{% block leftcolumn %}

  <form action="" id="id_account-details-form" method="POST">
    {% csrf_token %}

    <h2>Personal information</h2>

    <h3>Private</h3>

    {{ form.email|bootstrap }}
    {{ form.is_under_13|bootstrap }}

    <h3>Public <i class="icon-public"></i></h3>

    {{ form.first_name|bootstrap }}
    {{ form.last_name|bootstrap }}

    <h2>Email reminders</h2>

    <p>We can remind you if you have items that need reviewing:</p>

    {{ form.remind_after|bootstrap }}
    {{ form.remind_every|bootstrap }}

    <p>Email reminders will stop automatically if you stop using the site
      for 6 months.</p>

    <div class="actions">
      <input id="id-save-btn" type="submit" value="Save" class="btn primary">
    </div>

  </form>

{% endblock %}

{% block rightcolumn %}
  <h3>See also</h3>

  <ul>
    <li><a href="{% url 'preferences' %}" class="preferences-link">Preferences</a></li>
    <li><a href="{% url 'learnscripture_password_change' %}">Change password</a></li>
  </ul>

{% endblock %}
