{% load comment_utils %}

{% with rendered=event.render_html comments=event.ordered_comments|filter_comments:request_account %}
  {% ifchanged rendered %}
    {% ifchanged event.created.date %}
      <div class="timestamp">
        {{ event.created|date:"j M Y" }}
      </div>
    {% endifchanged %}
    <div class="activityitem
                {% if event.account_id in following_ids %}following{% endif %}
                "
         data-event-id="{{ event.id }}">
      {% if event.accepts_comments %}
        <span class="commentindicator">
          <a href="#" class="show-add-comment" title="Add comment"><i class="icon-comment"></i> <span class="commentcount">{{ comments|length }}</span></a>
        </span>
      {% endif %}
      <span class="permalink">
        <a href="{{ event.get_absolute_url }}" title="Link directly to this item alone"><i class="icon-link"></i></a>
      </span>
      <span class="eventdetails">
        <h4>{{ event.render_html }}</h4>
      </span>
      {% if event.is_new_comment %}
        <div class="commentblock">
          <div class="commentlist">
            {% with comment=event.get_comment %}
              {% include "learnscripture/comment_inc.html" %}
            {% endwith %}
          </div>
        </div>
      {% endif %}
      <div class="commentblock{% if not comments %} hide{% endif %}">
        <div class="commentlist">
          {% for comment in comments %}
            {% include "learnscripture/comment_inc.html" %}
          {% endfor %}
        </div>
        {% if request_account.enable_commenting or not request_account %}
          <div class="commentboxlocator">
            <a href="#" class="show-add-comment">Add comment</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endifchanged %}
{% endwith %}
