{% extends 'base.html' %}

{% load bootstrap %}
{% load fiber_tags %}

{% block content %}

  {% show_content "contact_page_top" %}

  <form action="" id="id_contact-form" method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}


    <div class="actions">
      <input type="submit" name="send" value="Send" class="btn primary" />
    </div>

  </form>


  <p>Alternatively you can:</p>
  <p style="margin-left: 40px; ">Email us: <a href="mailto:contact@learnscripture.net">contact@learnscripture.net</a></p>
  <p style="margin-left: 40px; ">Tweet us:&nbsp;<a class="twitter-mention-button" data-related="learnscripture" href="https://twitter.com/intent/tweet?screen_name=learnscripture">Tweet to @learnscripture</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

{% endblock %}
