{% extends "base.html" %}

{% load url from future %}
{% load bootstrap %}

{% block content %}

  {% if barred %}
    <p>{{ reason }}</p>
  {% else %}

    <p>Choose from the options:</p>

    <div class="actionset">
      <form>
        <p><a class="btn primary" href="{% url 'create_selection_set' %}">Create selection set</a></p>
      </form>

      <h3>Selection set</h3>


      <p>Selection verse sets are verses on a certain topic, or designed for a group
        of people to learn together.</p>


    </div>

    <div class="actionset">
      <form>
        <p><a class="btn primary" href="{% url 'create_passage_set' %}">Create passage set</a></p>
      </form>

      <h3>Passage set</h3>


      <p>Passage verse sets are for a continuous set of verses, like a Psalm or a
        chapter or part of a chapter.</p>

      <p> When you are learning a passage set, you're always presented with the verses
        in order, and there are lots of tweaks to help you learn it as a passage rather
        than just a set of verses.</p>


    </div>

  {% endif %}

{% endblock %}
