{% extends "base.html" %}

{% load bootstrap %}

{% block content %}

  {% if set_type == 'SELECTION' %}

    <div id="id-create-selection-set">

      <form id="id-verse-set-form" action="" method="POST">
        <input type="hidden" value="" id="id-reference-list"  name="reference-list">
        <h3>About this set</h3>
        {% csrf_token %}
        {{ verse_set_form|bootstrap }}

        <div id="id-verse-list">
          <h3>Verse list</h3>
          <p>Drag/drop or use the arrows to re-order.</p>

          <table>
            <thead>
              <tr>
                <th>Reference</th>
                <th>Text</th>
              </tr>
            </thead>
            <tbody>
              {% for v in verses %}
                <tr>
                  <td>{{ v.reference }}</td>
                  <td>{{ v.text }}</td>
                  <td><span title="move up"><i class="icon-arrow-up"></i></span></td>
                  <td><span title="move down"><i class="icon-arrow-down"></i></span></td>
                  <td><span title="remove"><i class="icon-trash"></i></span></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>


      <script id="id_verse_list_selection_row_template" type="text/x-jsrender">
       <tr>
       <td>[[>verseData.reference]]</td>
       <td>[[>verseData.text]]</td>
       <td><span title="move up"><i class="icon-arrow-up"></i></span></td>
       <td><span title="move down"><i class="icon-arrow-down"></i></span></td>
       <td><span title="remove"><i class="icon-trash"></i></span></td>
       </tr>
      </script>

      <h3>Add verses</h3>


      {% include "learnscripture/quick_find_controls.html" %}

      <script id="id_create_selection_result_template" type="text/x-jsrender">
       {# template for .quickfind_search_results #}
       <div class="actionset">
       <form action="" method="GET">
       <input type="hidden" name="quick_find" value="[[>reference]]">
       <input type="hidden" name="version_slug" value="[[>version_slug]]">
       <input type="submit" class="btn primary add-to-set" value="Add to set">
       </form>
       <h3>[[>book_name]]</h3>
       <div class="verselist">
       [[for verses]]
       <div class="verse">
       <span class="versenumber">[[>chapter_number]]:[[>verse_number]]</span> [[:html_text]]
       </div>
       [[/for]]
       </div>
       </div>
      </script>


      <div class="actions">
        <input name="save" type="submit" class="btn primary" value="Save verse set" id="id-save-btn">
      </div>

    </div>

  {% endif %}

  {% if set_type == 'PASSAGE' %}

    <div id="id-create-passage-set">
      <h3>Choose passage</h3>

      {% with quick_find_mode='PASSAGE' %}
        {% include "learnscripture/quick_find_controls.html" %}
      {% endwith %}

      <div id="id-duplicate-warning"></div>

      <script id="id-duplicate-warning-template" type="text/x-jsrender">
       <li><a href="[[>url]]" target="_blank">[[>name]]</a> by [[>by]]</li>
      </script>


      <div id="id-verse-list">
        <p>For passages more than about 10 verses, it helps if you can indicate the
          natural breaks in the passage by ticking the 'Section break' box on the verses
          which start a new section or paragraph.</p>
        <p><b>NOTE:</b> section breaks are in <b>addition</b> to verse breaks to indicate <b>larger</b> sections.
          When learning, you will only ever be presented with one verse at a time, even if you do not add
          section breaks.</p>
        <table>
          <thead>
            <tr>
              <th>Section break</th>
              <th>Reference</th>
              <th>Text</th>
            </tr>
          </thead>
          <tbody>
            {% for v in verses %}
              <tr>
                <td><input type="checkbox" {% if v.break_here %}checked{% endif %}/></td>
                <td>{{ v.reference }}</td>
                <td>{{ v.text }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <script id="id_verse_list_passage_row_template" type="text/x-jsrender">
       <tr>
       <td><input type="checkbox" /></td>
       <td>[[>verseData.reference]]</td>
       <td>[[>verseData.text]]</td>
       </tr>
      </script>

      <form id="id-verse-set-form" action="" method="POST">
        {% csrf_token %}

        <h3>Optional extra info</h3>

        {% if verse_set_form.non_field_errors %}
          <p>The verse set could not be saved:</p>
        {% endif %}

        {{ verse_set_form|bootstrap }}

        <div class="actions">
          <input type="hidden" value="" id="id-reference-list"  name="reference-list">
          <input type="hidden" value="" id="id-break-list"  name="break-list">
          <input name="save" type="submit" class="btn primary" value="Save verse set" id="id-save-btn">
        </div>

      </form>
    </div>

  {% endif %}

{% endblock %}
