{% extends "base_twocol.html" %}
{% load url from future %}
{% load account_utils %}
{% load compress %}

{% block leftcolumn %}

  {% if create_account_warning %}
    <div class="actionset">
      <p><b>Remember to <a href="{% url 'signup' %}">create an account</a>!</b> It
        only takes a few seconds. Otherwise your progress won't be saved permanently.
    </div>
  {% endif %}

  {% if request.identity.scoring_enabled %}
    <h2>Learning events</h2>
    <div id="id-heatmap-section" class="actionset">
      <div style="float: right; font-size: 120%;">
        <a href="{% url 'user_stats' request_account.username %}" title="Your stats"><i class="icon-fw icon-stats"></i></a>
        <a href="{% url 'user_verses' %}" title="Your progress"><i class="icon-fw icon-progress"></i></a>
      </div>
      <div id="id-heatmap-controls">
        <button id="id-heatmap-previous"><i class="icon-left btn"></i></button>
        <button id="id-heatmap-next"><i class="icon-right btn"></i></button>
        <span id="id-heatmap-loading">{% include "learnscripture/loading_animation.html" %}</span>
        <span id="id-heatmap-domain-title"></span>
      </div>
      <div id="id-heatmap-wrapper">
        <div id="id-heatmap-div"></div>
      </div>
      <div id="id-streaks">
        <div>Longest streak:
          <span id="id-biggest-streak" class="streak">&nbsp;</span></div>
        <div>Current streak:
          <span id="id-current-streak" class="streak">&nbsp;</span></div>
      </div>
    </div>


  {% endif %}

  <h2>Review</h2>

  <div class="actionset">

    {### Passages ###}

    {% for vs in passages_for_revising %}
      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="verse_set_id" value="{{ vs.id }}" />
          {% if vs.splittable %}
            <input type="submit" name="revisepassage" class="btn primary" value="Review whole passage"
                   id="id-revisepassage-btn-{{ vs.id }}" /><br/>
            <input type="submit" name="revisepassagenextsection" class="btn primary"
                   value="Review one section ({{ vs.next_section_verse_count }} vss)"
                   id="id-revisepassage-sections-btn-{{ vs.id }}" /><br/>
          {% else %}
            <input type="submit" name="revisepassage" class="btn primary" value="Review"
                   id="id-revisepassage-btn-{{ vs.id }}" /><br/>

          {% endif %}
          <input type="submit" name="cancelpassage" class="btn" value="Cancel"
                 id="id-cancelpassage-btn-{{ vs.id }}" /><br/>
        </form>
        <h3>{{ vs.name }}</h3>
        <div>
          {% if vs.needs_testing_count == vs.total_verse_count %}
            This passage is due for review today
            ({{ vs.total_verse_count }} verses).
          {% else %}
            Part of this passage is due for review today
            ({{ vs.needs_testing_count }}/{{ vs.total_verse_count }} verses).
          {% endif %}
        </div>
      </div>
      {% if not forloop.last %}<hr>{% endif %}

    {% endfor %}

    {### Verses ###}

    {% if revise_verses_queue %}

      {% if passages_for_revising %}<hr>{% endif %}

      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" name="revisebiblequeue" class="btn primary" value="Review" />
        </form>

        <p>You've got {{ revise_verses_queue|length }}
          verse{{revise_verses_queue|length|pluralize }} due for review today.
        </p>

        <p>Verses coming up:
          {% include 'learnscripture/verselist.html' with verselist=revise_verses_queue %}
        </p>
      </div>

    {% endif %}

    {### Catechism QAs ###}

    {% if catechisms_for_revising %}

      {% if passages_for_revising or revise_verses_queue %}<hr>{% endif %}

      {% for catechism in catechisms_for_revising %}

        <div class="addclearfix">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="revisecatechismqueue" class="btn primary" value="Review" />
            <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          </form>

          <h3><a href="{% url 'view_catechism' catechism.slug %}">{{ catechism.full_name }}</a></h3>

          <p>You've got {{ catechism.needs_revising_total }} question(s) due for review today.</p>
          <br><br>
        </div>

        {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}
    {% endif %}

    {#### Nothing ####}

    {% if not passages_for_revising and not revise_verses_queue and not catechisms_for_revising %}
      <p>Nothing needs reviewing at this point in time.
        {% if next_verse_due %}
          <br/>
          Next item due for review: <b>{{ next_verse_due.short_title }}</b> in {{ next_verse_due.next_test_due|timeuntil }}
        {% endif %}
      </p>
    {% endif %}
  </div>


  <h2>Learn</h2>


  <div class="actionset">

    {### Passages ###}

    {% for vs in passages_for_learning %}
      <div class="addclearfix">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="hidden" name="verse_set_id" value="{{ vs.id }}" />
          <input type="submit" name="learnpassage" class="btn primary"
                 {% if vs.tested_total == 0 %}
                 value="Start learning"
                 {% else %}
                 value="Continue learning"
                 {% endif %}
                 id="id-learnpassage-btn-{{ vs.id }}" /><br>
          <input type="submit" name="cancelpassage" class="btn" value="Cancel"
                 id="id-cancelpassage-btn-{{ vs.id }}" />
        </form>
        <h3><a href="{% url 'view_verse_set' vs.slug %}">{{ vs.name }}</a></h3>
        {% if vs.tested_total == 0 %}
          <p>You've queued this passage for learning.</p>
        {% else %}
          <p>You've seen {{ vs.tested_total }} verse(s) so far,
            with {{ vs.untested_total }} to go.</p>
        {% endif %}
      </div>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}


    {### Verses ###}

    {% if learn_verses_queues %}

      {% if passages_for_learning %}<hr>{% endif %}

      {% for verse_set, queue in learn_verses_queues %}
        <div class="addclearfix">
          <form action="" method="POST"
                {# for benefit of testing: #}
                id="id-learning-queue-verse-set-{{ verse_set.id }}"
                >
            {% csrf_token %}
            <input type="submit" name="learnbiblequeue" class="btn primary" value="Learn" /><br /><input type="submit" name="clearbiblequeue" class="btn" value="Clear" />
            <input type="hidden" name="verse_set_id" value="{{ verse_set.id }}" />
          </form>

          {% if verse_set %}
            <h3><a href="{% url 'view_verse_set' verse_set.slug %}">{{ verse_set.name }}</a></h3>
          {% else %}
            {% if not forloop.first %}
              <h3>Other verses</h3>
            {% endif %}
          {% endif %}

          <p>You've queued {{ queue|length }} new verse{{ queue|length|pluralize }} for learning{% if verse_set %} in this set{% endif %}.</p>

          <p>Verses coming up:
            {% include 'learnscripture/verselist.html' with verselist=queue %}
          </p>
          {% if not forloop.last %}<hr>{% endif %}
        </div>
      {% endfor %}
    {% endif %}

    {### Catechisms ###}

    {% if catechisms_for_learning %}

      {% if passages_for_learning or learn_verses_queues %}<hr>{% endif %}

      {% for catechism in catechisms_for_learning %}
        <div class="addclearfix">
          <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="learncatechismqueue" class="btn primary" value="Learn" /><br /><input type="submit" name="clearcatechismqueue" class="btn" value="Cancel" />
            <input type="hidden" name="catechism_id" value="{{ catechism.id }}">
          </form>

          <h3><a href="{% url 'view_catechism' catechism.slug %}">{{ catechism.full_name }}</a></h3>
          {% if catechism.tested_total == 0 %}
            <p>You've queued this catechism for learning, {{ catechism.untested_total }} questions total.</p>
          {% else %}
            <p>You've seen {{ catechism.tested_total }} question(s) so far,
              with {{ catechism.untested_total }} to go.</p>
          {% endif %}
        </div>

      {% if not forloop.last %}<hr>{% endif %}

      {% endfor %}
    {% endif %}

    {#### Nothing ####}
    {% if not passages_for_learning and not learn_verses_queue and not catechisms_for_learning %}
      <div class="addclearfix">
        <p>Nothing currently in your queue for learning.</p>
      </div>
    {% endif %}

  </div>

  <h2>Choose</h2>

  <div class="actionset">
    <p>When you're done with the above — <a href="{% url 'choose' %}">choose some verses or a passage to learn.</a></p>

  </div>
{% endblock %}



{% block rightcolumn %}

  {% if not request_account %}
    {% include 'learnscripture/session.html' %}
  {% endif %}

  <h3>Today's stats</h3>

  <div id="id-stats-block">
    {% include 'learnscripture/sessionstats.html' %}
  </div>

  <h3>Your groups</h3>

  {% if groups %}
    <ul class="grouplist">
      {% for group in groups %}
        <li>{{ group|group_link }} »
          <a
       title="leaderboard"
       href="{% url 'group_leaderboard' group.slug %}?thisweek">Leaderboard <i class="icon-leaderboard icon-replace"></i></a></li>
      {% endfor %}
      {% if more_groups %}
        <li><a href="{% url 'user_stats' request_account.username %}#groups">(see all)</a></li>
      {% endif %}

    </ul>
    <div class="note"><a href="{% url 'groups' %}">View other groups</a></div>
  {% else %}
    <div>You're not in any groups yet. Why not <a href="{% url 'groups' %}">join a group?</a></div>
  {% endif %}

  <h3>News <a href="{% url 'activity_stream' %}">(see more)</a></h3>

  <div class="eventstream">
    <ul>
      {% for event in events %}
        <li>
          <span class="commentindicator">
            {% if event.accepts_comments %}
              <a href="{{ event.get_absolute_url }}" title="View/add comments"><i class="icon-comment"></i> <span class="commentcount">{{ event.comment_count }}</span>
              </a>
            {% else %}
              <a href="{{ event.get_absolute_url }}" title="View more"><i class="icon-link"></i></a>
            {% endif %}
          </span>
          {{ event.render_html }}
          <br/><span class="timestamp">{{ event.created_display }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>


  <div id="id-dashboard-script-data"
       {% if request.identity.account %}
       data-user-stats-verses-timeline-stats-csv-url="{% url "user_stats_verses_timeline_stats_csv" request.identity.account.username %}"
       {% endif %}
       >
  </div>
{% endblock %}
