{% extends "base.html" %}

{% load url from future %}
{% load fiber_tags %}

{% block page_title %}
  <div class="homepagetitle">
    <img src="{{ STATIC_URL }}img/homepagetitle.png" />
  </div>
{% endblock %}


{% block content %}


  <p class="large" style="text-align: center">
    The easiest way to memorize the Word of God online.
  </p>
  <p style="text-align: center">
    <a href="{% url 'choose' %}" class="btn primary large">Start learning!</a>
  </p>

  <hr/>

  <p style="text-align: center;">
    <q class="large">“...finally something profitable on the internet that I can get addicted to...”</q> — <a href="/user/Default-N/">Default-N</a>
  </p>
  <hr>


  <div class="row">
    <div class="span7">
      <h3>Easy to use</h3>
      <p>We try to make sure that your effort is spent memorizing the Bible, and
        not figuring out what to do next or trying to track your progress.</p>
    </div>
    
    <div class="span7">
      <h3>Online</h3>

      <p>No need to install anything, it works with any <a href="/browsers/">recent browser</a>, and no
        problems if something happens to your computer.</p>

    </div>
  </div>
  <div class="row">
    <div class="span7">
      <h3>Proven system</h3>
      <p>Based on principles from the Charlotte Mason Scripture Memory System and
        other proven techniques for memory strengthening, we’ve added some 21st
        century refinements to produce an extremely efficient method.</p>
    </div>


    <div class="span7">
      <h3>Great for phones</h3>

      <p>The interface has been designed to adapt to small screens,
        so you can use the same web site from your desktop, laptop or other internet capable
        device, including <a href="/handhelds/">most recent smart-phones</a>.</p>


    </div>
  </div>

  <div class="row">
    <div class="span7">
      <h3>Child friendly</h3>
      <p>With a choice of fun interface themes and a memorisation method which
        works well with all ages, we’ve made sure that children will have no problem
        using the site. (Parents have to create accounts though).</p>
    </div>

    <div class="span7">
      <h3>Social</h3>
      <p>Our groups, leaderboards, comments, points and
        <a href="{% url 'awards' %}">badges</a> features are
        great for keeping things fun, addictive and motivational!</p>

      <p>You can also add and share your own sets of verses to learn — perfect for
        <a href="{% url 'groups' %}">church or friendship groups</a> who want to learn the same thing.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="span7">
      <h3>Free!</h3>
      <p>All aspects of the site are free for everyone. Since we are also keeping
        the site free of ads, we cover our costs entirely by donations.</p>
    </div>

    <div class="span7">
      <h3>Interested?</h3>
      <p>You can <a href="/about/">find out more</a> or just <a href="/choose/">jump
        in.</a></p>

    </div>
  </div>


{% endblock %}
