<span id="squaresWaveG">
  <span id="squaresWaveG_1" class="squaresWaveG">
  </span>
  <span id="squaresWaveG_2" class="squaresWaveG">
  </span>
  <span id="squaresWaveG_3" class="squaresWaveG">
  </span>
</span>
