{% extends "base.html" %}

{% load bootstrap %}
{% load url from future %}

{% block content %}

  <form action="" id="id_login-form" method="POST">
    {% csrf_token %}
    {{ login_form|bootstrap }}
    <div class="actions">
      <input type="submit" name="signin" value="Sign in" class="btn primary default">
      <input type="submit" name="forgotpassword" value="I forgot my password" class="btn">
    </div>
  </form>

{% endblock %}
