{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block content %}

  {% if validlink %}

    <h2>Enter new password</h2>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" id="id_password-reset-form" method="post">{% csrf_token %}
      {{ form|bootstrap }}


      <p><input type="submit" value="Change my password" class="btn primary" /></p>
    </form>

  {% else %}

    <h2>Password reset unsuccessful</h2>

    <p>The password reset link was invalid, possibly because it has already been
      used.  Please request a new password reset.</p>

  {% endif %}


{% endblock %}
