{% extends "base.html" %}

{% load bootstrap %}
{% load url from future %}

{% block page_title %}Change account password{% endblock %}

{% block content %}

  <form action="" id="id_password-change-form" method="POST">
    {% csrf_token %}

    <p>Please enter your old password, and your new password twice:</p>

    {{ form|bootstrap }}

    <div class="actions">
      <input type="submit" value="Change" class="btn primary">
    </div>

  </form>

{% endblock %}
