{% extends "base.html" %}

{% load url from future %}

{% block content %}

  <p>You cancelled part way through the payment process. You can 
    <a href="{% url 'donate' %}">return to the donation page</a>.</p>

{% endblock %}
