{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

  <p>Enter your preferences and press 'Save' to continue.</p>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}

    <p>All preferences can be changed later, and the Bible version can be chosen on
      a verse-by-verse basis</p>

    <div class="actions">
      <input id="id-save-btn" type="submit" value="Save" class="btn primary">
    </div>
  </form>
{% endblock %}
