<form action="" method="GET" class="quickfind always-adjust-size" id="id-quick-find-form">
  <div class="clearfix">
    <label for="id_quick_find">Quick find</label>
    <div class="input">
      <input id="id_quick_find" type="text" value="" name="quick_find">
      <br/>
      {% if quick_find_mode == 'PASSAGE' %}
        example: <b>Romans 8:28-39</b>
      {% else %}
        example: <b>Matt 28:19</b> or <b>make disciples</b>
      {% endif %}
    </div>
  </div>

  <div class="clearfix">
    <label for="id_book">Select</label>
    <div class="input">
      <select name="book" id="id_book">
        <option value="">----</option>
        {% for b in BIBLE_BOOKS %}
          <option value="{{ b }}">{{ b }}</option>
        {% endfor %}
      </select>

      <nobr>
        ch
        <select name="chapter_start">
        </select>
        v
        <select name="verse_start">
        </select>
        —
        {% if quick_find_mode == 'PASSAGE' %}
          ch
          <select name="chapter_end">
          </select>
          v
        {% endif %}
        <select name="verse_end">
        </select>
      </nobr>
    </div>
  </div>

  <div class="clearfix">
    <label for="id-version-select">Version</label>
    <div class="input">
      {% with current_version=default_bible_version show_full_name=1 %}
        {% include "learnscripture/version_select.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="clearfix">
    <div class="input">
      <input id="id_lookup" type="submit" name="lookup"
             {% if quick_find_mode == 'PASSAGE' %}
             value="Lookup passage"
             {% else %}
             value="Lookup verse"
             {% endif %}
             class="btn primary">
    </div>
  </div>

  <div class="clearfix error">
    <p id="id_form_all_errors" class="form-all-errors"></p>
  </div>
</form>

<div class="quickfind_search_results">
</div>
