{% extends "base_twocol.html" %}

{% load url from future %}
{% load markup_tags %}

{% block leftcolumn %}

  {% if verse_set.description %}
    <h2>Description</h2>
    {{ verse_set.description|apply_markup:"restructuredtext" }}
  {% endif %}

  {% if verse_set.additional_info %}
    {{ verse_set.additional_info|apply_markup:"restructuredtext" }}
  {% endif %}

  {% if verse_choices %}
    {% if verse_set.is_passage %}
      <h3>{{ verse_choices.0.verse.book_name }}</h3>
      {% for v in verse_choices %}
        {% if v.verse.break_here %}<br/>{% endif %}
        <div>
          {% ifchanged v.verse.chapter_number %}
            <span class="chapternumber">{{ v.verse.chapter_number }}</span>
          {% endifchanged %}
          <span class="versenumber">{{ v.verse.verse_number }}</span>
          {{ v.verse.text }}
        </div>
      {% endfor %}
      <br/>
    {% else %}

      <h2>Verses</h2>
      <ul>
        {% for v in verse_choices %}
          <li>
            {{ v.reference }}: {{ v.verse.text }}
            <br/><br/>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="" method="GET">
      <div id="id-version">
        Version:
        {% with current_version=version show_full_name=1 %}
          {% include "learnscripture/version_select.html" %}
        {% endwith %}
      </div>
    </form>

    <h3>Notes</h3>
    <ul>
      {% if not verse_set.is_passage %}
        <li>When learning a set, you can opt out of any individual verse by pressing
          ‘Stop learning this verse’ on the learning page.</li>
      {% endif %}
      <li><i class="icon-public"></i> Learning a verse set is a public action
        (unless the set is private and remains private)</li>
    </ul>

  {% else %}
    No verses in this set!
  {% endif %}

  {% if can_edit and show_convert_to_passage %}
    <hr>
    <p>This looks like a continuous set of verses. These are much better learnt
      using a 'passage' set, rather than a 'selection' set. You can convert using
      the button below:
      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" name="convert_to_passage_set" value="Convert to passage set"
               class="btn"/>
      </form>
      <hr>

  {% endif %}

  <form action="{% url 'choose' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="verseset_id" value="{{ verse_set.id }}">
    <input type="hidden" name="version_slug" value="{{ version.slug }}">
    <div class="actions">
      {% if can_edit %}
        <a class="btn" href="{% url 'edit_set' slug=verse_set.slug %}">Edit</a>
      {% endif %}
      {% if verse_choices %}
        <input type="submit" class="btn primary needs-preferences" value="Learn">
      {% endif %}
    </div>
  </form>


{% endblock %}


{% block rightcolumn %}

  <h3>Verse set info</h3>

  <div>Put together by:
    <a href="{% url 'user_stats' verse_set.created_by.username %}"
       >{{ verse_set.created_by.username }}</a>
    <br/>
    Created: {{ verse_set.date_added|timesince }} ago

    {% if not verse_set.public %}
      <br/><br/>
      <strong>Private</strong> - this verse set can only be accessed by you.
    {% endif %}
  </div>

  <h3>Status</h3>

  {% if started_count == 0 %}
    <p>You are not learning this verse set.</p>
  {% elif started_count == verse_choices|length %}
    <p>You've started learning all the verses in this set.</p>
  {% else %}
    <p>You've started learning {{ started_count }} out of {{ verse_choices|length }}
      verses in this set.</p>
  {% endif %}

  {% if in_queue > 0 %}
    <p>You have {{ in_queue }} verse(s) from this set in your queue for
      learning.</p>

    <p>If you want to remove them:</p>

    <ul>
      <li>remove them individually from the learning interface by choosing <b>Stop
        learning verse</b> from the <b>Options</b> button when the verse comes
        up for learning.</li>
      <li>Or you can remove them all:
        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn" name="drop" value="Drop from queue">
        </form>
      </li>
    </ul>

  {% endif %}


  <h3>Actions</h3>
  <form action="{% url 'choose' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="verseset_id" value="{{ verse_set.id }}">
    <input type="hidden" name="version_slug" value="{{ version.slug }}">
    {% if can_edit %}
      <a class="btn" href="{% url 'edit_set' slug=verse_set.slug %}">Edit</a>
    {% endif %}
    {% if verse_choices %}
      <input type="submit" class="btn primary needs-preferences" value="Learn">
      <i class="icon-public" title="Public action"></i>
    {% endif %}
  </form>


{% endblock %}
