{% extends "base.html" %}

{% load url from future %}
{% load pagination_tags %}

{% block content %}
  {% if bible %}
    <h2>Verses you are learning</h2>
  {% endif %}
  {% if catechism %}
    <h2>Catechism questions you are learning</h2>

  {% endif %}

  {% autopaginate verses 20 %}

  <ul class="pills">
    <li {% if bible %}
      class="active"
    {% endif %}
      ><a href=".">Bible verses</a>
    </li>
    <li {% if catechism %}
      class="active"
    {% endif %}
      ><a href="?catechisms">Catechism questions</a>
    </li>
  </ul>

  {% if not verses %}
    {% if bible %}
      <p>No verses learnt yet</p>
    {% endif %}
    {% if catechism %}
      <p>No catechism questions learnt yet - <a href="{% url 'catechisms' %}">choose some!</a></p>
    {% endif %}

  {% else %}


    {% if bible %}

      <ul class="pills">
        <li {% if not bibleorder %}
      class="active"
        {% endif %}
      ><a href=".">Strength order</a>
        </li>
        <li {% if bibleorder %}
      class="active"
        {% endif %}
      ><a href="?bibleorder">Bible order</a>
        </li>
      </ul>

    {% endif %}

    {% paginate %}

    <table class="bordered-table condensed">
      <thead>
        <tr>
          <th>{% if bible %}Verse{% elif catechism %}Question{% endif %}</th>
          <th>{% if bible %}Version{% elif catechism %}Catechism{% endif %}</th>
          <th>Strength</th>
        </tr>
      </thead>
      <tbody>
        {% for verse in verses %}
          {% ifchanged verse.reference verse.version.slug %}
            <tr {% if verse.verse_set_id %}data-verse-set-id="{{ verse.verse_set_id }}"{% endif %}>
              <td>{{ verse.title }}
                <a class="btn verse-popup-btn" href="#" data-reference="{{ verse.reference }}" data-version="{{ verse.version.slug }}" data-title="{{ verse.title }}">Options</a></td>
              <td>{{ verse.version.slug }}</td>
              <td><img class="stars" src="{{ STATIC_URL }}img/strength_{{ verse.simple_strength }}.png"></td>
            </tr>
          {% endifchanged %}
        {% endfor %}
      </tbody>
    </table>
    {% paginate %}
  {% endif %}

{% endblock %}
