{% load url from future %}

<div class="verse-options alert-message block-message info">
  {% for uvs in uvs_list %}

    {% if forloop.first %}  {# Avoid doing 'reviseverse' more than once #}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="uvs_id" value="{{ uvs.id }}" />
        <p>
          <input type="submit" name="reviseverse" class="btn primary"
                 {% if uvs.needs_testing %}
                 value="Review {{ uvs.item_name }}"
                 {% else %}
                 value="Practise {{ uvs.item_name }}"
                 {% endif %}
                 />
        </p>
      </form>
    {% endif %}

    {% if uvs.is_in_passage %}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="verse_set_id" value="{{ uvs.verse_set.id }}" />
        <input type="hidden" name="uvs_id" value="{{ uvs.id }}" />

        {% if uvs.section_reference != uvs.passage_reference %}

          {# revise/practise section #}

          <p>
            {% if uvs.needs_testing %}
              <input type="submit" name="revisepassagesection" class="btn primary"
                     value="Review section: {{ uvs.section_reference }}"/>
            {% else %}
              <input type="submit" name="practisepassagesection" class="btn primary"
                     value="Practise section: {{ uvs.section_reference }}"/>
            {% endif %}
          </p>
          <br/>

        {% endif %}

        {# revise/practice passage #}

        <p>
          {% if uvs.needs_testing %}
            <input type="submit" name="revisepassage" class="btn primary"
                   value="Review passage: {{ uvs.passage_reference }}"/>
          {% else %}
            <input type="submit" name="practisepassage" class="btn primary"
                   value="Practise passage: {{ uvs.passage_reference }}"/>
          {% endif %}
        </p>
      </form>
    {% endif %}

    {% if uvs.version.is_catechism %}
      <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="catechism_id" value="{{ uvs.version.id }}" />
        <p>
          <input type="submit" name="revisecatechism" class="btn primary"
                 value="Practice or review all of {{ uvs.version.short_name }}"/>
        </p>

      </form>
    {% endif %}

    {# Stop learning buttons #}
    {% if uvs.version.is_bible %}
      <form action="" method="POST">
        {% csrf_token %}
        {% if not uvs.verse_set or uvs.verse_set.is_selection %}

          {# Selections #}
          <input type="hidden" name="verse_status_id" value="{{ uvs.id }}" />
          <input type="hidden" name="verse_status_reference" value="{{ uvs.reference }}" />
          <p>
            <input type="submit" name="cancellearning" class="btn primary cancel-learning-verse-btn"
                   value="Stop learning this" />
          </p>
        {% else %}

          {# Passages #}
          <input type="hidden" name="verse_set_id" value="{{ uvs.verse_set_id }}" />
          <p>
            <input type="submit" name="cancellearning" class="btn primary cancel-learning-passage-btn"
                   value="Stop learning this passage ({{ uvs.verse_set.name }})" />
          </p>
        {% endif %}
      </form>
    {% endif %}

  {% endfor %}
</div>
